body, div, ul
{
	margin:0; padding: 30px;
}
body
{
	background-color: red;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

/*Ensemble page fixé et centré*/
.global
{
	width: 900px;
	margin: 0 auto;
	background-color: lavender;
}
.contenu
{
	margin-right: auto;
	margin-right: auto;
	min-width: 500px;
	float: center;
	padding: 30px;
	padding-left: 30px;
	backround-color: white;
}

/*Pour le menu navigation*/
#menu
{
	width: 740px;
    text-align: center;
	display:inline-block;
	margin-left: 30px;
	float: top;
}
#menu li a
{
	
	padding-right: 30px;
	padding-left: 30px;
}

#menu li
{
	
	display: inline-block;
	text-align: center;
    
}
#menu li a, #menu li a:visited 
{

	display:block;

	border-top:solid lightgray 2px;
	font-family: Arial, sans-serif;
	font-size: 1.8em;
	font-weight: bold;
	color: brown;
	text-shadow:black 2px 1px 1px;
	text-decoration: none;
}
#menu li a:hover
{
	background-color: lightsteelblue;
	background: linear-gradient (silver, dimgray);
	color: white;
	text-shadow: 2px 2px 2px;
}

/*Titre Presentation*/
h1
{
	text-align: center;
	font-size: 1.5em;

}

