body, div, ul
{

	margin:0; padding: 30px;
}
body
{
	background-color: blue;
	font-family: Arial, sans-serif;
	font-size: 16px;
	display:flex;
}

/*Ensemble page fixé et centré*/
.global
{
	width: 900px;
	margin: 0 auto;
	background-color: lavender;
}
.contenu
{
	margin-right: auto;
	margin-right: auto;
	min-width: 500px;
	min-height: 50px;
	float: center;
	padding: 30px;
	padding-left: 30px;
	/*backround-color: white;*/
}

/*Pour le menu navigation*/
#menu
{
	width: 740px;
    text-align: center;
    text-shadow: .075em .075em .0 tomato;
	display:inline-block;
	margin-left: 30px;
	float: top;
}
#menu li a
{
	
	padding-right: 30px;
	padding-left: 30px;
}

#menu li
{

	display: inline-block;
	text-align: center;
    
}
#menu li a, #menu li a:visited 
{

	display:block;

	border-top:solid white 2px;
	border-bottom: solid white 2px;
	box-shadow:10px 20px 30px darkslategray;
	font-family: Arial, sans-serif;
	font-size: 1.8em;
	font-weight: bold;
	text-shadow:black 2px 1px 1px;
	text-decoration: none;
}
#menu li a:hover
{	
	color: coral;
}

/*Titre Presentation*/
h1
{
	/*text-align: center;*/
	font-size: 2em;
	border-radius:50%;
	box-shadow: 5px -10px 5px violet, 5px -20px 5px blue;
	
	background-color:yellow;

	text-shadow: 0 2px rgb(42, 92, 88), 0 2px 0 rgba(1, 1, 1, 1), 0 -3px 0 rgba(0, 0, 0, .45), 0 2px 0 rgba(255, 255, 255, .5), 0 2px 2px rgba(255, 255, 255, .2);
}
.presentation p
{
	
    font-size: 16px;
    font-family: Courier News, Arial, sans-serif;
    text-align: justify;
    color:white;
    
	
}
.realisationphotos, div, p1
{

	background: url(colors/red-wine-in-green-bottle.jpg width="40") no-repeat content-box;
	background-size: cover;
	backround: url(colors/red);
}
.realisationphotos, div, p2
{

	background: url(colors/abear.jpg) width="200"no-repeat content-box;
	background-size: cover;
	backround: url(colors/red);
}





.realisation
{
	display:flex;
	border:1px solid black;
	width: auto;
	min-height: 300px;
	max-height: auto;
}
.col-gauche 
{
    float:left;
    width:50%;
    top: 100%;
}

.col-droite 
{
    width:50%;
  	float:right;
  	top: 100%;
}
.col-gauche, img
{
	position:abolute;
}


