/*@font-face { /* Définition d'une nouvelle police nommée LearningCurveProRegular */
    font-family: 'LearningCurveProRegular';
    src: url('LearningCurve_OT-webfont.eot');
    src: url('LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('LearningCurve_OT-webfont.woff') format('woff'),
         url('LearningCurve_OT-webfont.ttf') format('truetype'),
         url('LearningCurve_OT-webfont.svg#LearningCurveProRegular') format('svg');
}

@font-face {
    font-family: 'cinzel-decorativeregular';
    src: url('CinzelDecorative-Regular-webfont.eot');
    src: url('CinzelDecorative-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('CinzelDecorative-Regular-webfont.woff') format('woff'),
         url('CinzelDecorative-Regular-webfont.ttf') format('truetype'),
         url('CinzelDecorative-Regular-webfont.svg#cinzel_decorativeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Corps du texte*/
body
{
	position: center;


	/*background-image: url("../colors/stardust/stardust.png");*/


}
#page
{
    max-width: 900px;
    min-width: auto;
    
}




/*Barre Navigation */

nav
{
   
    background-color: yellow;
    display: inline-block;
    text-align: center;
    color:maroon;
}
.flottante
{
    margin-left: 200px;
}
nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 50px;
    text-align: center;
}

nav a
{
    text-decoration:none;

}
nav a:hoover
{
    text-decoration: none;
}
nav a:focus
{

    background-color: #FFCC66;

}


section
{
    width:500px;

    magrin:auto;
    
   
}
article
section
{
    font-size: 0.8em;
    color:black;
    display:inline-table;
    position:relative;
    right:-100px;
    margin-left: 10px;
    max-width:27%;
    min-width:auto;
}