/*Couleur d'arrière plans et alignement definition de la police*/
body, div, ul
{

	margin:0; padding: 30px;
}
body
{
	background-color: blue;
	font-family: Arial, sans-serif;
	font-size: 16px;
	display:flex;
}

/*Ensemble page fixé et centré*/
.global
{
	width: 900px;
	margin: 0 auto;
	background-image: url(../colors/brioche.jpg);
	background-position: 100%;
	background-attachment: fixed;
	clear:both;

}

/*Pour le menu navigation*/

#menu
{
	position:fixed;
	margin-left: 40px;
	top: -20px;
	width: 740px;
    text-align: center;
    text-shadow: .075em .075em .0 tomato;
	display:inline-block;

	
}
#menu li a
{
	padding-right: 30px;
	padding-left: 30px;
}

#menu li
{

	display: inline-block;
	text-align: center;
    
}
#menu li a, #menu li a:visited 
{

	display:block;

	border-top:solid white 2px;
	border-bottom: solid white 2px;
	box-shadow:10px 20px 30px darkslategray;
	font-family: Arial, sans-serif;
	font-size: 1.8em;
	font-weight: bold;
	text-shadow:black 2px 1px 1px;
	text-decoration: none;
}
#menu li a:hover
{	
	color: coral;
}

/*Titre H1 et H3*/
h1 
{
	text-align: center;
	font-size: 2em;
	border-radius:50%;
	box-shadow: 5px -10px 5px violet, 5px -20px 5px blue;
	background-color:yellow;
	text-shadow: 0 2px rgb(42, 92, 88), 0 2px 0 rgba(1, 1, 1, 1), 0 -3px 0 rgba(0, 0, 0, .45), 0 2px 0 rgba(255, 255, 255, .5), 0 2px 2px rgba(255, 255, 255, .2);
}
h3
{
	text-align: center;
	font-size: 2em;
	border-radius:50%;
	box-shadow: 5px -10px 5px violet, 5px -20px 5px blue;
	background-color:yellow;
	text-shadow: 0 2px rgb(42, 92, 88), 0 2px 0 rgba(1, 1, 1, 1), 0 -3px 0 rgba(0, 0, 0, .45), 0 2px 0 rgba(255, 255, 255, .5), 0 2px 2px rgba(255, 255, 255, .2);
}
/*Presentation*/
p:hover
{
	text-align: justify;
	font-size: 1em;
	padding: 30px 30px 30px 30px;
	color:peachpuff;
}


/*Bloc réalisation en 2 colonnes*/
.realisation
{
	background-image: url(../colors/engine.jpg);
	display:flex;
	width: auto;
	min-height: 300px;
	max-height: auto;
}
.colums1
{
    float:left;
    width:50%;
    top: 100%;
    
}

.colums2
{
    width:50%;
  	float:right;
  	top: 100%;
}
.colums2, img
{
	position:abolute;
}
.colums1 + img:hover
{
	color:peachpuff;
}
/*Formulaire*/
#formulaire
{
	width:50%;
	margin-left: 200px;
}

label
{
	padding: 5px;
	display: block; 
	width: 150px;
}
.style_input:hover
{
	width:200px;
	height:20px;
	font-size:14px;
	font-style: bold;
	color:peachpuff;
}
label
{
	color:red;
} 
.contact
{
	font-style: 18px;
}
#formulaire
{
	background-image: url(../colors/blood.png) ;
}
